* {
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../img/background.png);
  background-attachment: fixed;
}

hr {
  width: 100%;
}

header {
  background-color: white;
}

h1 {
  color: #861d86;
  text-align: center;
  font-style: italic;
  transition: color 330ms;
}

h1:hover {
  color: black;
}

div {
  padding: 10px;
}

h3 {
  font-weight: normal;
  text-decoration: underline;
  text-align: center;
}

p {
  text-align: justify;
  font-size: 14px;
  line-height: 23px;
}

li {
  text-align: justify;
}

.nav {
  display: inline-flexbox;
}

.container {
  display: grid;
  margin: 5px 15% 5% 15%;
  row-gap: 20px;
}

.box {
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition: transform 330ms, box-shadow 300ms;
}

.box:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

strong.instagram {
  background: -webkit-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #fd1d1d
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transition: 330ms;
}

h1#title-hobbies {
  color: rgba(0, 0, 0, 0.8);
}

.button:hover {
  background-color: darkgoldenrod;
}

.icone {
  width: 30px;
  height: 30px;
  margin: 5px;
  transition: transform 330ms;
}

.icone:hover {
  transform: scale(1.3) rotate(360deg);
}

.destaque {
  background-color: yellow;
  color: #fd1d1d;
  font-size: 22px;
}

.galeria {
  border-radius: 5px;
  width: 360px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.img {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.img:nth-child(1) {
}
.img:nth-child(2) {
  animation-delay: 5s;
}
.img:nth-child(3) {
  animation-delay: 10s;
}
.img:nth-child(4) {
  animation-delay: 15s;
}

@keyframes animacao {
  10% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  50% {
    opacity: 0;
  }
}
